@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    
}

body{
    overflow: hidden;
}

.background{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./img/background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}


.cabeçalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}

.cabeçalho-link a{
    color: #fff;
    font-size: 12px;
    font-weight: bolder;
}

.cabeçalho-link a:hover{
    color: #fff;
    transition: 0.3s all;
}

.logo i{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
    font-weight: bolder;
}

button{
    color: #fff;
    background: transparent;
    border: solid 1px #ccbc2e;
    padding: 5px;
    border-radius: 15px;
    font-size: 12px;
    cursor: pointer;
    width: 150px;
    
}

button:hover{
    background-color: transparent;
    color: #ccbc2e;
    transition: 0.5s;
}
.container-text{
    padding: 150px 0 0 130px;

}
.text h3{
    color: #fff;
    font-size: 15px;
}

.text h1{
    color: #fff;
    margin-top: 10px;
}

.text span{
    color: #ccbc2e;
}

.text p{
    color: #fff;
    font-size: 11px;
    font-weight: 300;
    margin-top: 10px;
}

.redes-sociais a{
    color: #ccbc2e;
    padding: 10px;
}
.btn{
    margin-top: 10px;
}
